body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;

    background: url("background.jpg") no-repeat center center/cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
